{% extends 'base.html' %}

{% block CONTENT %}

<div style="margin: 15px auto; width: 80%;text-align: center;">

    {% include 'includes/form_titles.html' with title='Administrar Calificaciones' subtitle="" %}

    {% include 'includes/success_message.html' %}

    {% include 'includes/form_links.html' with add_link='GradeApp:add_grade' add_label="+ Agregar Nueva Calificación" %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Materia</th>
            <th scope="col">Nota</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <th scope="row">{{grade.id}}</th>
                <td>{{grade.student}}</td>
                <td>{{grade.subject}}</td>
                <td>{{grade.grade}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}